<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyQuanCafe.Properties.Settings.QuanLyQuanCafeConnectionString"
            connectionString="Data Source=PC2009010100HVA\SQLEXPRESS;Initial Catalog=QuanLyQuanCafe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyQuanCafe.Properties.Settings.ClientQuanLyQuanCafeConnectionString"
            connectionString="Data Source=|DataDirectory|\QuanLyQuanCafe.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>